#header
{
border-color:blue;
border-width:20px;
padding: 20px  10px 10px 10px;
background-color:white;
}
#logocontainer
{
border-style:solid;
border-color:green;
border-width:20px;
padding: 20px  20px 20px 20px;
margin:10px  5px  10px  10px;
background-color:green;
}
#logincontainer
{
border-style:solid;
border-color:blue;
background-color:blue;
border-width:10px;
float:left;
padding: 200px  80px 60px 200px;
margin:10px  0px  20px  10px;
}
#abin
{
border-style:solid;
border-width:50px;
border-color:orange;
background-color:orange;
float:right;
padding:200px 650px 5px 200px;
margin:0px 0px 0px 50px;
}
#logo
{
border-style:solid;
border-width:100px;
border-color:red;
background-color:red;
padding:200px 600px 200px 600px;
margin:10px 10px 10px 10px;
float:left;
}
